<!DOCTYPE html>
<html>
<head>
    <title>Success!</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Success!</h1>
        <p>{{ message }}</p>
    </div>
</body>
</html>
